* {
  margin: 0;
}

@font-face {
  font-family: "alegreya";
  src: url(../fonts/alegreya.ttf);
}
@font-face {
  font-family: "Ultra";
  src: url(../fonts/Ultra-Regular.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf);
}
#gridArea {
  display: grid;
  grid-template-areas: "header" "menu" "main" "main2" "footer";
  grid-template-columns: 100%;
  grid-template-rows: max-content;
}

header {
  grid-area: header;
}

nav {
  grid-area: menu;
}

.main1 {
  grid-area: main;
}

.main2 {
  grid-area: main2;
}

footer {
  grid-area: footer;
}

header h1 {
  font-family: ultra;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}
header p {
  font-family: raleway;
  color: white;
  background-color: rgb(2, 97, 2);
  text-align: center;
  margin-bottom: 0;
}

.padd {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.titProd {
  background-image: linear-gradient(to bottom, grey, black);
  color: white;
  padding-left: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.titProd1 {
  padding-left: 1%;
}

header div a:hover {
  opacity: 0.5;
}

#logRed {
  padding-left: 20%;
}

#titulo {
  font-size: 1rem;
  padding-left: 8%;
}

.buscador {
  margin-top: 1.2rem;
  padding-left: 3%;
}

#Buscador {
  background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
  background-size: 18px;
  width: 200px;
  padding-left: 30px;
}

.imgPe {
  margin-top: 2px;
  padding-top: 4px;
  width: 90px;
  height: 90px;
}

.imgPeq {
  padding: 0;
  margin-top: 1rem;
  width: 80px;
  height: 40px;
}

.navbar-nav {
  background-color: white;
  justify-content: space-evenly;
  width: 100%;
}

.navbar {
  padding: 0;
}

.nav-item {
  font-weight: bolder;
}

#colorMenu {
  color: rgb(4, 109, 27);
}
#colorMenu:hover {
  opacity: 0.5;
}

.margenCarrusel {
  padding-top: 1%;
}

.carousel-inner img {
  height: 450px;
}

section h2 {
  font-size: 1.5rem;
  padding-bottom: 2%;
}
section h3 {
  font-size: 1.1rem;
  opacity: 0.7;
}

.tituloNosotros {
  text-align: center;
  padding-bottom: 3%;
  padding-top: 2%;
}

.sucursal {
  text-align: left;
}

div h2 {
  padding-top: 5%;
  font-family: alegreya;
  color: black;
}
div h4 {
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
}
div h5 {
  font-weight: bold;
  color: rgb(49, 49, 49);
}
div .ofertInd {
  font-family: roboto;
  padding-top: 8%;
  padding-bottom: 3%;
  text-decoration: underline;
  text-align: center;
  color: black;
  margin: 0;
}

.parEsp {
  font-size: 1.2rem;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  opacity: 0.8;
}

.bannerHome {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-weight: bold;
  background-color: rgb(214, 211, 211);
  padding-top: 1%;
  padding-bottom: 1%;
}

.opacity-banner {
  opacity: 0.7;
}

.cardFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-right: 15%;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.artiofer {
  padding-bottom: 5%;
}

.medCom2 {
  opacity: 0.7;
  padding-top: 8%;
  margin-bottom: 0;
}

.redes {
  padding-left: 5%;
}

article {
  font-family: roboto;
}
article p {
  margin: 0;
  padding-top: 5%;
  text-align: center;
  font-weight: bold;
}
article div {
  text-align: center;
}
article button {
  font-family: raleway;
  color: white;
  font-weight: bold;
  background-color: green;
}

.imgProd p {
  margin: 0;
  padding-top: 5%;
  font-weight: bold;
}
.imgProd button {
  font-family: raleway;
  color: white;
  font-weight: bold;
  background-color: green;
}

footer {
  color: white;
  background-image: linear-gradient(to bottom, grey, black);
}
footer .mePaFlex {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
}
footer .footReg {
  text-align: center;
}

div p a:hover {
  opacity: 0.5;
}

.medCom {
  padding-left: 20%;
}

.ubicacion {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.fotoNos {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.imgfrente {
  margin-right: 2%;
}

iframe {
  transition: all 2s;
}
iframe:hover {
  width: 100%;
}

.tituloContacto, .form {
  font-family: roboto;
  padding-top: 1%;
  padding-bottom: 3%;
  color: black;
  margin-left: 2%;
}

.form {
  display: flex;
  margin-left: 2%;
  font-weight: bold;
}

.coments {
  padding-left: 2%;
}

.ofertas {
  display: flex;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.prodPad {
  padding-bottom: 4%;
}

.foton {
  width: 192px;
  height: 192px;
}

main h2 {
  font-family: roboto;
  padding-top: 5%;
  text-decoration: underline;
  text-align: left;
}
main h3 {
  text-decoration: underline;
  padding-top: 1%;
}
main a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
main a:hover {
  opacity: 0.5;
}

.inicio {
  padding-top: 2%;
  padding-left: 1%;
  font-family: cinzel;
}

.inicio1 {
  padding-left: 1%;
  font-family: roboto;
}

#carrito {
  padding-left: 1%;
  padding-top: 2%;
  font-family: roboto;
}

.carro {
  margin-top: 7%;
  margin-bottom: 15%;
  text-align: center;
}

.link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.link:hover {
  opacity: 0.5;
}

.descri {
  padding-left: 1.5%;
  font-family: cinzel;
  padding-bottom: 3%;
}

.prodFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20%;
  padding-top: 0%;
  text-align: center;
}

.prodDet {
  padding-bottom: 5%;
  padding-right: 5%;
}

.check {
  font-size: larger;
  font-family: roboto;
}

#legumbres:checked ~ #productos .fruto {
  display: none;
}

#legumbres:checked ~ #productos .cereales {
  display: none;
}

#legumbres:checked ~ #productos .harina {
  display: none;
}

#Frutos:checked ~ #productos .cereales {
  display: none;
}

#Frutos:checked ~ #productos .legumbre {
  display: none;
}

#Frutos:checked ~ #productos .harina {
  display: none;
}

#Cereales:checked ~ #productos .legumbre {
  display: none;
}

#Cereales:checked ~ #productos .fruto {
  display: none;
}

#Cereales:checked ~ #productos .harina {
  display: none;
}

#harinas:checked ~ #productos .cereales {
  display: none;
}

#harinas:checked ~ #productos .fruto {
  display: none;
}

#harinas:checked ~ #productos .legumbre {
  display: none;
}

.fruto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.harina {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cereales {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.legumbre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.oferTitulos {
  color: white;
  font-weight: normal;
  background-image: linear-gradient(to bottom, grey, black);
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
  text-align: center;
  font-family: roboto;
}

.imgOfer {
  text-align: center;
  border: 1px solid black;
  transition: all 0.5s;
}
.imgOfer:hover {
  opacity: 0.5;
}

.prodDescri {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: roboto;
  font-size: 1.3rem;
}

.subtitulo {
  font-size: 0.8rem;
  opacity: 0.8;
}

.precio {
  font-size: 2rem;
}

.descripcion {
  padding-left: 8%;
}

#contador {
  width: 50px;
  height: 35px;
}

div .descripcion button {
  font-family: raleway;
  color: white;
  font-weight: bold;
  background-color: green;
}

.carropadd {
  padding-bottom: 3%;
}

@media (max-width: 855px) {
  #Buscador {
    background-size: 18px;
    width: 200px;
    padding-left: 20px;
  }

  .carousel-inner img {
    height: 250px;
  }

  .frente {
    display: none;
  }

  #titulo {
    display: none;
  }

  .imgPeq {
    width: 30px;
    height: 30px;
    padding-bottom: 0.7rem;
  }

  .bannerfotos {
    width: 32px;
    height: 32px;
  }

  .bannertexto {
    font-weight: normal;
    font-size: 0.8rem;
  }

  .cardFlex {
    text-align: center;
    flex-wrap: wrap;
  }

  article img {
    margin-top: 8%;
  }

  .bg-light {
    --bs-bg-opacity: 0;
  }

  .descripcion {
    padding-left: 3%;
    padding-bottom: 12%;
  }

  .prodFlex {
    padding-top: 7%;
  }

  footer .mePaFlex {
    justify-content: space-between;
  }
  footer .medios {
    font-size: 0.8rem;
    font-weight: bold;
  }
  footer .mpfl {
    padding-left: 3%;
  }
  footer .mpfl1 {
    padding-right: 5%;
  }

  .fotoFrente {
    display: block;
    padding-bottom: 10%;
  }

  iframe {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 1020px) {
  .buscador {
    margin-top: 0.5rem;
    padding-left: 0;
  }

  .form {
    flex-wrap: wrap;
  }

  .medCom {
    padding-left: 3%;
  }

  header h1 {
    font-size: 1.4rem;
  }

  .imgPe {
    margin: 0;
    padding-bottom: 0;
    width: 65px;
    height: 65px;
  }

  .navbar-toggler {
    margin-top: 4%;
  }
}
@media (max-width: 884px) {
  .coments {
    padding-left: 8%;
  }
  .medcom {
    padding-left: 0;
    margin-top: 8%;
  }
}
@media (min-width: 300px) and (max-width: 600px) {
  .coments {
    padding: 0;
  }
  .carousel-inner img {
    height: 180px;
  }

  .carro {
    margin-top: 15%;
    margin-bottom: 25%;
  }
}
@media (min-width: 600px) and (max-width: 855px) {
  #Buscador {
    background-size: 18px;
    width: 320px;
    padding-left: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */
