* {
  margin: 0;
}

@font-face {
  font-family: "alegreya";
  src: url(../fonts/alegreya.ttf);
}
@font-face {
  font-family: "Ultra";
  src: url(../fonts/Ultra-Regular.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}
#gridArea {
  display: grid;
  grid-template-areas: "header" "menu" "main" "main2" "footer";
  grid-template-columns: 100%;
  grid-template-rows: max-content;
}

header {
  grid-area: header;
}

nav {
  grid-area: menu;
}

.main1 {
  grid-area: main;
}

.main2 {
  grid-area: main2;
}

footer {
  grid-area: footer;
}

header h1 {
  font-family: ultra;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}
header p {
  font-family: raleway;
  color: white;
  background-color: rgb(2, 97, 2);
  text-align: center;
  margin-bottom: 0;
}

.padd {
  display: flex;
  justify-content: space-between;
  padding: 0%;
  overflow: hidden;
}

header div a:hover {
  opacity: 0.5;
}

#logRed {
  padding-left: 20%;
}

#titulo {
  padding-left: 7%;
}

.imgPe {
  padding: 2px;
  width: 80px;
  height: 80px;
}

.imgPeq {
  padding: 0;
  margin-top: 1rem;
  width: 80px;
  height: 40px;
}

.navbar-nav {
  background-color: rgb(2, 97, 2);
  justify-content: space-evenly;
  width: 100%;
}

.nav-item {
  font-weight: bolder;
}

#colorMenu {
  color: white;
  transition: box-shadow 0.5s;
}
#colorMenu:hover {
  opacity: 0.5;
  box-shadow: 1px 1px 1px black;
}

.margenCarrusel {
  padding-bottom: 3%;
}

.carousel-inner img {
  height: 500px;
}

section h2 {
  padding-bottom: 5%;
  text-decoration: underline;
}

div h2 {
  padding-top: 5%;
  font-family: alegreya;
  color: black;
}
div h4 {
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
}
div h5 {
  font-weight: bold;
  color: rgb(49, 49, 49);
}
div .ofertInd {
  font-family: ultra;
  padding-top: 5%;
  text-align: center;
  color: black;
  margin: 0;
}

.cardFlex, .cardFlex2 {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding-bottom: 5%;
  padding-top: 5%;
}

.cardFlex2 {
  padding-bottom: 10%;
}

.sombra {
  border-radius: 10%;
  box-shadow: 5px 5px 10px black;
  transition: box-shadow 1s;
}
.sombra:hover {
  box-shadow: 15px 15px 25px black;
}

article p {
  padding-top: 5%;
  text-align: center;
  font-weight: bold;
}
article div {
  text-align: center;
}
article button {
  font-family: raleway;
  color: white;
  font-weight: bold;
  background-color: green;
}

footer {
  color: white;
  background-image: linear-gradient(to bottom, grey, black);
}
footer .mePaFlex {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
}
footer .footReg {
  text-align: center;
}

.fotoFrente {
  display: flex;
  text-align: center;
  padding-top: 3%;
  background-image: linear-gradient(to bottom, white, grey);
}

.ubicacion {
  text-align: center;
  padding-bottom: 5%;
}

.img-fluid {
  border: 1px solid black;
}

iframe {
  transition: all 2s;
}
iframe:hover {
  width: 100%;
}

.tituloContacto, .form {
  padding-top: 3%;
  padding-bottom: 5%;
  color: black;
}

.form {
  font-weight: bold;
}

.ofertas {
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
  justify-content: space-between;
}

main h2 {
  text-decoration: underline;
  text-align: center;
  padding-bottom: 3%;
}
main h3 {
  text-decoration: underline;
  padding-top: 1%;
}

.color-p1 {
  color: black;
}

.color-p2 {
  color: blue;
}

.color-p3 {
  color: red;
}

.color-p4 {
  color: black;
}

.color-p5 {
  color: blue;
}

.color-p6 {
  color: red;
}

@media (max-width: 850px) {
  .carousel-inner img {
    height: 300px;
  }

  #logRed {
    padding-left: 10%;
  }

  .fotI {
    padding-top: 15%;
    padding-bottom: 8%;
  }

  header h1 {
    font-size: 1.4rem;
  }

  .imgPe {
    width: 50px;
    height: 50px;
  }

  .imgPeq {
    width: 30px;
    height: 30px;
    padding-bottom: 0.7rem;
  }

  .cardFlex, .cardFlex2 {
    text-align: center;
    flex-wrap: wrap;
  }

  article img {
    margin-top: 8%;
  }

  .bg-light {
    --bs-bg-opacity: 0;
  }

  .sombra {
    width: 110px;
    height: 147px;
  }

  footer .mePaFlex {
    justify-content: space-between;
  }
  footer .medios {
    font-size: 0.8rem;
    font-weight: bold;
  }
  footer .mpfl {
    padding-left: 3%;
  }
  footer .mpfl1 {
    padding-right: 5%;
  }

  .fotoFrente {
    display: block;
    padding-bottom: 10%;
  }

  iframe {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 600px) {
  header h1 {
    font-size: 1rem;
  }

  #titulo {
    padding-left: 0;
  }
}

/*# sourceMappingURL=estilos.css.map */
